* {
  margin: 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 320px;

  width: 170px;
  background-color: lightgray;
  margin: 10px;
  cursor: pointer;
}

.header {
  background-color: black;
  height: 50px;
  color: white;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

li {
  margin: 15px 80px;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

img {
  height: 150px;
  width: 150px;
  margin: 10px;
}

h5 {
  margin: 10px;
}

.dummy-card {
  height: 320px;
  width: 170px;
  background-color: lightgray;
  margin: 10px;
  cursor: pointer;
}

.dummy-card div {
  margin: 10px;
  width: 130px;
  height: 5px;
  background-color: darkgray;
}

.dummy-card img {
    background-color: darkgray;

}